@page
@model Page4Model
@{
    ViewData["Title"] = "Page4";
}

<div class="text-center">
    <h1 class="display-4">Adding background color</h1>
</div>

<div class="justify-content-evenly">
    <p>
        You will note (if you run the website app) that the background is coloured aqua (a form of blue).  The default background colour is white so how do you change it?
    </p>
    <ol>
        <li>Open the wwwroot folder</li>
        <li>Open the css folder and double click on site.css</li>
        <li>At the bottom of the page add a body tag followed by curly brackets {}</li>
        <li>Inside the curly brackets add background-color: and then the color you want the background to be.</li>
        <li>Save all and run (Ctrl+F5) to test the website.</li>
    </ol>
</div>
