@page
@model Page5Model
@{
    ViewData["Title"] = "Page5";
}

<div class="text-center">
    <h1 class="display-4">Using data input</h1>
</div>

<div class="justify-content-evenly">
    <p>
        This page is currently under construction
    </p>
</div>

<component type="typeof(Components.Name1)" render-mode="ServerPrerendered" />
