@page
@model ASP.NET.CORE.WEB.DEMO.Pages.Page3Model
@{
    ViewData["Title"] = "Page3";
}

<div class="text-center">
    <h1 class="display-4">Embedding external websites</h1>
</div>

<div class="justify-content-evenly">
  <p>
    Suppose you wish to add an external website to your page that will show within a frame of a specific size.  You would do this with the use of iframe /iframe tags. Within the tags 
    you could specify alignment, frameborder, height, scroll, source (src) which will be the address of the website and width.
  </p>
</div>

<div>
    <iframe align="top" frameborder="0" height="500" scrolling="yes" src="https://logbook.qrz.com/lbstat/M0CVO/" width="640"></iframe><br />
    <p>the log book of the author from qrz.com.</p>
</div>