@page
@model Page1Model
@{
    ViewData["Title"] = "Page1";
}
<div class="text-center">
    <h1 class="display-4">Adding new pages</h1>
    
</div>

<div class="justify-content-evenly">
    <p>Let's talk about how to add new pages to your ASP.NET Core web app.  Firstly you need to right click on the Pages folder in Solution Explorer and select Add - Razor Page -
        Choose Razor Page Empty in the pop up and click continue. Give it a new name in the pop up form or just leave it with the Index1.cshtml name and click continue. A new page 
        will be made with basic framework at the top.  The Page directive makes it routable and the model directive gives it a routable address.</p>
</div>
